build/*
result

android/.gradle/*
android/build/
android/app/build/
android/kls_database.db
android/.idea
android/local.properties

android/app/src/main/res/mipmap-*/
!android/app/src/main/res/mipmap-anydpi-v26/
!android/app/src/main/res/mipmap-anydpi-v26/**
